@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #cc5500;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color:black;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
    background-color: #cc5500;
}

.social-icon {
    list-style: none;
    background-color: #cc5500;
}

.social-icon li {
    display: inline-block;
    padding: 0px 10px;
    background-color: #cc5500;
}

.social-icon li a {
    transition: all 0.3s ease 0s;
    background-color: #cc5500;
}

.social-icon li a:hover {
    color:goldenrod;
}

.nav__links {
    list-style: none;
    background-color: #cc5500;
}

.nav__links li {
    display: inline-block;
    padding: 0px 10px;
    margin-left: 20px;
    background-color: #cc5500;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
    background-color: #cc5500;
}

.nav__links li a:hover {
    color:goldenrod;
}

button {
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0,136,169,0.8);
}

 h3{
    color: rgb(0, 0, 0);
	font-weight: 100;
	font-size: 40px;
	margin: 40px 0px 20px;
    font-variant: small-caps;
    font-family: "Montserrat", sans-serif;
    background-color: beige;
    margin-top: 175px;
}

    * {margin: 0; padding: 0; border: 0; box-sizing: border-box;}

header {
    background-color: #cc5500; min-height: 100px;
}

main {
    background-color: white; min-height: 500px;
    display: flex; flex-flow: row wrap;
}

aside:nth-child(1) {
    flex: 0 0 150px; background-color: beige;
}

aside:nth-child(3) {
    flex: 0 0 150px; background-color: beige;
}

article {
    flex: 1 0 auto; background-color: beige; font-family: "Montserrat", sans-serif;
}

footer {
    background-color: beige; min-height: 100px;
}

div {
    background-color: beige;
}

h2 {
    background-color: beige;
}

p {
    background-color: beige;
    margin-bottom: 100px;
}

body {
    background-color: beige;
}

nftart-mint-button.hydrated {
    background-color: #cc5500;
}

div.nft-art-gen-section {
    background-color: #cc5500;
}

div.nft-art-gen-mint-progress {
    color: #cc5500;
    background-color: #cc5500;
}
